/**
 * @author sabah.mugab
 */
			body {
			    color: #666666;
				background-color: #ffffff;
				background-position: center;
				font-family: Arial,NikoshBAN;				
				line-height: 1.4em;
				margin: 0px;}
			body.REP{
			    color: #000000;
				background-color: #ffffff;
				background-position: center;
				font-family: Arial,NikoshBAN;				
				line-height: 1.4em;
				margin: 0px;}
			.wrapper {
				width: 940px;
				margin: 20px auto 20px auto;}
			.search{
				width:940px;
				padding:0px;
				height:30px;
				margin: 20px auto 20px auto;}
			.container {
				width: 940px;
				margin: 5px auto 5px auto;
				overflow: auto;}
			.label{
				float:left;
				text-align:center;
				color:black;
				font-family: Arial,NikoshBAN;
			    font-size:18px;
				width:22%;				
				height:20px;
				padding-left:0px;
				margin-right:0px;}
			.searchInput{
				float:left;
				width:35%;
				height:20px;
				margin-left:2px;
				margin-right:2px;}
			.searchImage{
				float:left;
				width: 15%;
				border:solid 2px #ECEBE8;
				height:22px;
				text-align:center;
				cursor:pointer;
				margin-left:4px;
				margin-right:2px;}
			.hasNoHealthIdCSS{
				float:left;
				width: 24%;
				border:solid 2px #222222;
				height:25px;
				cursor:pointer;
				text-align:center;
				margin-left:2px;
				background-color: #FFFFFF;}
			.windowPeriodButton{
				float:center;
				width: 50%;
				border:solid 2px #555555;
				height:25px;
				text-align:center;
				/*margin-top:2px;*/
				margin-left:2px;
				cursor:pointer;
				background-color:#C2E0FF;
				font-family: NikoshBAN;
			    font-size:18px;
			    font-weight:bold;
				color: black;}	
			.serviceTabButton{
				float:left;
				width: 19.77%;
				border:solid 2px #555555;
				height:45px;
				text-align:center;
				margin-top:2px;
				margin-left:2px;
				cursor:pointer;
				background-color:#C2E0FF;
				font-family: NikoshBAN;
			    font-size:18px;
			    font-weight:bold;
				color: black;}
			.serviceTabButtonSelected{
				float:left;
				width: 19.77%;
				border:solid 2px #555555;
				height:50px;
				text-align:center;
				margin-top:2px;
				margin-left:2px;
				cursor:pointer;
				background-color:#3FCEDF;
				font-family: NikoshBAN;
			    font-size:20px;
			    font-weight:bold;
				color: black;}						
			.searchButton{
				float:left;
				border:solid 2px #555555;
				width:65px;
				height:25px;
				text-align:center;
				margin:2px;
				cursor:pointer;
				background-color:#C2E0FF;
				font-family: NikoshBAN;
			    font-size:18px;
			    font-weight:bold;
				color: black;}
			.searchLink{
				float:left;				
				margin:2px;
				cursor:pointer;			
				color: black;
				text-align:left;
				font-family: Arial;
				font-size:18px;}					
			td.ideal{
				width: 25%;
			   	background-color:#66FF66;}		
			.sectionHighlight{
				background-color: #d9dae8;}
			.selected_with_date{
				background-color: #ACEBE8;}
			.selected_without_date{
				background-color: #FFD119;}
			.logic_danger{
				background: #D39C8A;}
			.logic_danger_font{
				color: red;}
			.disable_font{
				color: #686868;}
			.center{
				text-align: center;}
			.left{
				text-align: left;}
			.right{
				float: right;}
			.left{
				float: left;}
			.msg{
				color: red;
				text-align: center;
				vertical-align: top;}
			.person_detail{
				float: center;
				position: relative;
				width:940px;
				padding:0px;
				margin: 20px auto 20px auto;
				overflow:auto;}
			.person_detailleft{
				float:left;
				position: relative;
				width:930px;
				border-style:ridge;
				border-color: black;
				background-color:#ffffff;
				padding:0px;
				font-family: Arial,NikoshBAN;
			    font-size:18px;
				color: black;			
				margin: 5px 2px 5px 2px;}
			.report_content{
				float: center;
				position: relative;
				width:940px;
				padding:0px;
				margin: 20px auto 20px auto;
				overflow:auto;
				text-align:left;
				font-family: Arial,NikoshBAN;
				font-size:18px;
				color:black;}
			#service_tab{
				float:left;
				position: relative;
				width:930px;
				border-style:ridge;
				border-color: black;
				background-color:#ffffff;
				padding:0px;
				font-family: Arial,NikoshBAN;
			    font-size:18px;
				color: black;			
				margin: 5px 2px 5px 2px;}
			#service_tab_MNCH{
				float:left;
				position: relative;
				width:930px;
				border-style:ridge;
				border-color: black;
				background-color:#ffffff;
				padding:0px;
				font-family: Arial,NikoshBAN;
			    font-size:18px;
				color: black;			
				margin: 5px 2px 5px 2px;}
			#service_tab_FP{
				float:left;
				position: relative;
				width:930px;
				border-style:ridge;
				border-color: black;
				background-color:#ffffff;
				padding:0px;
				font-family: Arial,NikoshBAN;
			    font-size:18px;
				color: black;			
				margin: 5px 2px 5px 2px;}	
			span.mandatory	{
				float:left;
			    font-size:14px;
				font-style: italic;
				margin:5px;
				font-family: Arial,NikoshBAN;
				}	
			.person_detailright{
				float:left;
				position: relative;
				width:920px;
				border-style: ridge;
				border-color: black;	
				background-color:#ffffff;
				font-family: Arial,NikoshBAN;
			    font-size:18px;			
				padding:0px;
				color: black;
				margin: 10px 2px 10px 2px;}	
			.person_ANCdetail{
				float:left;
				position: relative;
				width:930px;
				border-style: ridge;
				border-color: black;
				background-color:#ffffff;
				font-family: Arial,NikoshBAN;
			    font-size:18px;
				padding:0px;
				color: black;
				margin: 1px 2px 1px 2px;
				overflow:auto;}	
			.person_Deliverydetail{
				float:left;
				position: relative;
				width:930px;
				border-style:ridge;
				border-color: black;
				background-color:#ffffff;
				padding:0px;
				font-family: Arial,NikoshBAN;
			    font-size:18px;
				color: black;
				line-height:150%;
				margin: 5px 2px 5px 2px;}
			table, tr, td {
				text-align:left;
				font-family: Arial,NikoshBAN;
				font-size:18px;}
			table.confirmation td{				
				padding:0.2em;				
				font-family: Arial,NikoshBAN;
				font-size:18px;}
			table.confirmation tr{
				padding:0.2em;				
				font-family: Arial,NikoshBAN;
				font-size:18px;}
			table.list {
				padding-left:0.2em;												
				font-family: Arial,NikoshBAN;
				font-size:18px;}					
			label{font-weight:bold;}
			tr, td text{
				text-align: left;
				font-family: NikoshBAN;
			    font-size:18px;}
			td a, td input, td img {
				display: inline-block;
				color: black;
				font-size:12px;
				font-family: Arial;}
			input[disabled] {
				background-color: #DDDDDD; }
			body input{
				border-color: black;
				text-transform: uppercase;
				color: black;
				font-size:16px;}
			body select{
				border-color: black;
				color: black;
				font-size:14px;
				height:25px;}
			header {
				text-align: center;
				float:center;
				position: relative;
				height: 25px;
				color: black;
				font-size:50px;
				overflow:enabled;}
			footer{
				position: relative;
				display:-moz-inline-grid;
				bottom: 0;
				height: 15px;
				width: 940px;
				background-color: #C2E0FF;
				font-size: 10px;
				color: black;
				text-align: center;
				vertical-align: top;}
			.heading {
				width:940px;
				padding:0px;
				position:relative;
				float: center;
				text-align: center;
				display: center;
				color:black;
				font-weight:bold;
				font-size: 24px;
				margin: 20px auto 20px auto;}
			.subheadingside{
				padding:0px;
				position:relative;
				float:center;
				text-align: center;
				display:center;
				font-weight: bold;
				font-size: 18px;
				color:black;
				margin: 8px auto 8px auto;}
			.subheadingsideLeft{
				padding:0px;
				position:relative;
				float:left;
				text-align: center;
				display:center;
				font-weight: bold;
				font-size: 18px;
				color:black;
				margin: 3px auto 3px auto;}
			.subheading{
				width:940px;
				padding:0px;
				position:relative;
				float:center;
				text-align: center;
				display:center;
				font-weight:bold;
				font-size: 16px;
				color:black;
				margin: 20px auto 20px auto;}
			nav {
				clear: both;	
				color: #111;
				background-color: #C2E0FF;
				height: 25px;
				font-family: Arial,NikoshBAN;
				font-size:16px;}
				
									/*----- Menu Outline -----*/
			.menu-wrap {
			    width:100%;
			    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
			}
			 
			.menu {
			    width:940px;
			    margin:0px auto;
			    font-size:15px;
			}
			 
			.menu li {
			    margin:0px;
			    list-style:none;
			}
			 
			.menu a {
			    transition:all linear 0.15s;
			    color:#000;
					
			}
			 
			.menu li:hover > a {
			    text-decoration:none;
			    color:#000;
			}
			 
			.menu .arrow {
			    font-size:12px;
			    line-height:0%;
			}
			 
			/*----- Top Level -----*/
			.menu > ul > li {
			    float:left;
			    display:inline-block;
				position:relative;
				font-family: Arial,NikoshBAN;
			    font-size:18px;
			}
			 
			.menu > ul > li > a {
			    padding:0px 25px;
				display:inline;
			    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
			}
			 
			.menu > ul > li:hover > a, .menu > ul > a {
			    background:#888;
				color:#000;
			}
			 
			/*----- Bottom Level -----*/
			.menu li:hover .sub-menu {
			    z-index:1;
			    opacity:1;
			}
			 
			.sub-menu {
			    width:160%;
			    padding:5px 0px;
			    position:absolute;
			    top:100%;
			    left:0px;
			    z-index:-1;
			    opacity:0;
			    transition:opacity linear 0.15s;
			    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
			    background-color:#C2E0FF;
			}
			 
			.sub-menu li {
				background-color:#C2E0FF;
			    font-family: Arial,NikoshBAN;
			    font-size:18px;
			}
			 
			.sub-menu li a {
				background-color:#C2E0FF;
			    padding:5px;
			    display:inline-block;
			}
			 
			.sub-menu li a:hover, .sub-menu a {
			    background-color:#888;
				color:#000;
			}
			.nextC{
				font-size:20px;
				font-weight:bold;
				color: blue;
				float: right;}
			.home{
				/*font-size:12px;*/
				color:DarkGray;
				float: right;}
			.home_selected{
				font-size:30px;
				font-weight:bold;
				color:black;
				/*background-color:#3FCEDF;*/
				float: right;}
			.report{
				color:DarkGray;}
			.report_selected{
				font-size:22px;
				font-weight:bold;
				color:black;
				/*background-color:#3FCEDF;*/}
			.about{
				color:DarkGray;}			
			a {
				color: black;
				text-decoration: none;}
			h1, h2, h3 {
				font-weight: normal;
				}
			h2 {			
				margin: 10px 0px 5px 0px;
				padding: 0px;}
			h3 {
				margin: 0px 0px 10px 0px;}
			p#provR{
                font-size: 28px;			  
				text-align: center;
				font-family: Arial,NikoshBAN;
			    }
			section.image {
				float: left;
				width: 370px;
				margin-left: 110px;
				margin-top: 100px;
				text-align: start;
				overflow: auto;}
		    section.image_logo {
				float: center;
				width: 250px;
				margin-left: 60px;
				margin-top: 15px;
				text-align: start;
				overflow: auto;}
			section.formhead {
				float: right;
				width: 350px;
				background-color: #EEEEEE;
				margin-top: 100px;				
				margin-right: 110px;
				text-align: center;
				overflow: auto;}
			section.forms {
				float: right;
				width: 350px;
				background-color: #DDDDDD;
				margin-top: 10px;
				margin-right: 110px;
				text-align: center;
				overflow: auto;}
		    section.formsR{	
				position:fixed;
                left:35%;
				width: 350px;
				background-color: #DDDDDD;
				margin-top: 15px;
				margin-left: 20px;
				margin-right: 100px;
				text-align: center;
				overflow: auto;}
			input.design {
				width: 100px; 
				height: 35px; 
				font-weight: normal; 
				font-size: 15px;}
			.popupDialog{
				top: 50%; 
				left: 50%; 
				max-height: 60%;
				max-width: 80%;
				transform: translate(-50%, -50%); 
				position: fixed; 
				z-index:100;  
				border:5px solid black; 
				background-color:#ffffff; 
				padding:25px; 
				font-size:150%; 
				color: black;
				text-align:left;
				opacity:1;
    			pointer-events: auto;
    			display: none;
    			overflow:auto;}
    		.loadPopup{
				top: 50%; 
				left: 50%; 
				transform: translate(-50%, -50%); 
				position: fixed; 
				z-index:100;  
				/*border:5px solid black; 
				background-color:#ffffff;*/ 
				padding:25px; 
				font-size:150%; 
				color: black;
				text-align:left;
				opacity:1;
    			pointer-events: auto;
    			display: none;
    			overflow:auto;}
    		.font_size_english{
    			font-family: Arial;
			    font-size:16px;}
			.font_size_bangla{
    			font-family: NikoshBAN;
			    font-size:18px;}
			.searchResultBox{
				width: 550px; 
				height: 250px; 
				font-weight: normal; 
				font-size: 15px;
				overflow:auto;}
			.verticalTableHeader{
			    text-align:center;
    			white-space:nowrap;
    			transform-origin:50% 50%;
			    -webkit-transform: rotate(270deg);
			    -moz-transform: rotate(270deg);
			    -ms-transform: rotate(270deg);
			    -o-transform: rotate(270deg);
			    transform: rotate(270deg);}
			.verticalTableHeader:before{
				content:'';
    			padding-top:110%;/* takes width as reference, + 10% for faking some extra padding */
    			display:inline-block;
    			vertical-align:middle;}    		
    		table.misTable { 
  				border-collapse: collapse;
  				background-color:#EEE8AA;}
  			table.misHeading { 
  				border-collapse: collapse;
  				font-size:10px;
  				background-color:#EEE8AA;}
  			table.misTable td,
  			table.misTable th { 
  				border: 1px solid black;
  				padding: 5px;}
  			.iud_selectwidth{
    			width:65px;}					
    		.deathReason_selectwidth{
    			width:75px;}					